.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4CAF50;
  color: white;
  font-family: 'Arial';
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  height: 100vh;
}